<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de Conexão com o Banco de Dados -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/gerenciador</property>
		<property name="connection.username">root</property>
		<property name="connection.password">q1w2e3r4</property>

		<!-- Pool de Conexões -->
		<property name="connection.pool_size">2</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQL Geradas -->
		<property name="show_sql">true</property>

		<!-- Cria as Tabelas do Banco de Dados -->
		<property name="hbm2ddl.auto">update</property>
		
		<!-- Mapeamento das Entidades -->
		<mapping class="br.edu.topicos.domain.Eletrodomestico" />
		<mapping class="br.edu.topicos.domain.Usuario" />
		<mapping class="br.edu.topicos.domain.Meta"/>
		<mapping class="br.edu.topicos.domain.Consumo"/>
		<mapping class="br.edu.topicos.domain.DicaDeConsumo"/>
		<mapping class="br.edu.topicos.domain.DistribuidoraDeEnergiaEletrica"/>

	</session-factory>

</hibernate-configuration>